.container {
	text-align:center;
}

#gameboard, th, td {
	margin-top:200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	padding: 29px;

}

#gameboard {
	padding: 0px;
	background-image: url("board.png");
	background-repeat: no-repeat;
}

